<h2>Add Student</h2>

<form (submit)="addStudent($event)">

<input type="text" placeholder="RegNo" required><br><br>

<input type="number" placeholder="RollNo" required min="1" max="99"><br><br>

<input type="text" placeholder="Name" required><br><br>

<input type="number" placeholder="Standard" required max="15"><br><br>

<input type="text" placeholder="School" required><br><br>

<input type="submit" value="Add Student">
<input style="margin-left: 20px;" type="button" value="Cancel" (click)="cancel()">

</form>